html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Roboto", sans-serif;
    color: #222;
    background: #f4f4f4;
}
#map {
    height: 100%;
    width: 100%;
}

#sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    max-width: 80%;
    height: 100%;
    background: #fff;
    border-left: 3px solid #58b947;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    padding: 1em;
    overflow-y: auto;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

#sidebar.open {
    transform: translateX(0%);
}

#toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1100;
    color: white;
    border: none;
    background-color: #58b947;
    padding: 5px 10px;
    cursor: pointer;

    font-size: 14px;
    font-weight: bold;

    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s;
}

#toggle-btn:hover {
    background-color: #469137;
}

.legend-circle {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-right: 6px;
    border-radius: 50%;
    border: 1px solid #444;
    vertical-align: middle;
}

.legend-square {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-right: 6px;
    border: 1px solid #444;
    vertical-align: middle;
}

.legend-item {
    margin-bottom: 6px;
}

.legend-opacity-bar {
    display: flex;
    align-items: center;
    margin-bottom: 6px;
}

.opacity-box {
    width: 20px;
    height: 12px;
    background: #999;
    border: 1px solid #444;
    margin-right: 6px;
}

.opacity-label {
    font-size: 13px;
    color: #333;
}
